.serviceBox{
    color: #676767;
    background: linear-gradient(transparent 65%, #c62828 65%);
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    padding: 0 12px 12px;
    // border-radius: 0 0 150px 150px;
    box-shadow: 0 12px 7px -7px rgba(0, 0, 0, 0.2);
}
.serviceBox .service-icon{
    position: relative;
    color: #fff;
    background-color: #c62828;
    font-size: 45px;
    line-height: 80px;
    height: 50px;
    width: 60px;
    // margin: 0 auto 25px;
    border-radius: 0 0 50px 50px;
}
.serviceBox .img-size{
    height: 40px;
    width: 40px;
    margin: 0 auto 25px;

}
.btn-card-dash{
    color: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #c62828;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.serviceBox .service-content{
    position: relative;
    display: flex;
    height: 150px;
    background: #fff;
    padding: 0 12px 20px;
    // border-radius: 15px 15px 150px 150px;
    border-top: 15px solid #c62828;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.serviceBox .title{
    color: #c62828;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 7px;
}
.serviceBox .description{
    font-size: 24px;
    margin: 0 0 5px;
}


@media only screen and (max-width:990px) {
    .serviceBox{ margin: 0 0 30px; }
    .serviceBox .service-content{ padding: 0 35px 20px; }
}
@media only screen and (max-width:359px) {
    .serviceBox .service-content{ padding: 0 20px 20px; }
}