.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 1rem;
  background-color: $color-grey-light-2;
  &__body {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  &__footer {
    border-top: $line;
    padding: 1.5rem;
    font-size: 2rem;
  }
}

.login-card {
  width: 40rem;
  padding: 2rem;
  margin: 10rem 2rem;
  background-color: $color-grey-light-1;
  &__header {
    font-size: 2rem;
    text-align: center;
  }
  &__body {
    &__subtitle {
      text-align: center;
    }
  }
  &__footer {
    margin-top: 2rem;
  }
}

.copyright {
  font-size: 1.4rem;
}

// .login-carousel {
//     height: 100vh;
//     z-index: 0;
//     // border: solid;
//     // max-width: 60%;
// }

.login-bg{
  
  background-color: #FFCA9A;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.9'%3E%3Ccircle fill='%23FFCA9A' cx='50' cy='0' r='50'/%3E%3Cg fill='%23ffc694' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffc18f' cx='50' cy='100' r='50'/%3E%3Cg fill='%23ffbc8a' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffb885' cx='50' cy='200' r='50'/%3E%3Cg fill='%23ffb380' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffae7b' cx='50' cy='300' r='50'/%3E%3Cg fill='%23ffa977' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffa472' cx='50' cy='400' r='50'/%3E%3Cg fill='%23ff9f6e' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff9a6b' cx='50' cy='500' r='50'/%3E%3Cg fill='%23ff9567' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff9064' cx='50' cy='600' r='50'/%3E%3Cg fill='%23ff8a61' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff855e' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ff7f5b' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff7959' cx='50' cy='800' r='50'/%3E%3Cg fill='%23ff7357' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff6d55' cx='50' cy='900' r='50'/%3E%3Cg fill='%23ff6653' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23FF5F52' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}
.orange-font{
  color: #ff5f52;
}
.glass-bg{
  background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}